.day {
   width: 130px;
}
.park {
   padding: 13px;
   font-weight: 600;
}
.pr_13 {
   font-weight: 600;
   font-size: 17px;
}
.dayp {
   display: inline-block;
   width: 85px;
}
.center {
   margin: 0 auto;
   input[type='time'] {
      width: 98px;
   }
}
.up_width {
   height: 60px;
}
.width_lock {
   width: 222px;
   display: inline-block;
}
.fl_right {
   float: right;
}
.title {
   font-weight: 600;
}
