body {
    margin:0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --mainColor: #96dfe2;
    --btnColor: #11B3CF;
    --PrimaryColor: hsl(199,100%,33%);
    --SecondaryColor: hsl(187,85%,43%);
    --gradientColor: linear-gradient(to right, hsl(187,85%,43%),hsl(199,100%,33%));
    --gradientColorChange: linear-gradient(to right,hsl(199,100%,33%), hsl(187,85%,43%));
    --whiteColor: hsl(0,0%,100%);
    --blackColor: hsl(201,33%,16%);
    --textColor: hsl(240,4%,36%);
    --whiteColorDeam: hsl(0,0%,93%);
    --greyText: rgb(190,190,190);
    --inputColor: rgb(239,239,239);
    --bodyColor: rgb(240,240,246);
    --cardBG: rgb(225,225,225);
  }

section, footer, header {
    width: 100%;
    height: auto;
    overflow: hidden;
    max-width: 100%;
    padding: 25px 0px;
    margin-top: 50px;
}

a
{
    text-decoration: none !important;
}

span {
    display: block;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type:none;
}

button 
{
    text-align: center;
    box-sizing: border-box;
    height: 40px;
    border-radius: 4px;
}

p {
    line-height: 28px;
}

input {
    box-sizing: border-box;
    border: 1px solid #fff;
    text-align: left;
    padding: 5px;
    color: #333;
    font-size: 16px;
}