nav{
    background-color: #fff;
    width: 100%;
    height: auto;
    border-radius: 0px !important;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: var(--gradientColor);
    .has-megamenu {
        position:static!important;
        .dropdown-menu {
            right: 0 !important;
            left: 0 !important;
            width: 100%;
            padding: 20px;
            border-radius: 0px;
            border-top: none !important;
            box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
            .icon {
                width: 35px;
                margin-right: 10px;
            }
        }
    }
    .navbar-nav {
        .dropdown-menu {
            right: 0 !important;
            left:auto;
        }
        .nav-item {
            margin-top:auto;
            margin-bottom: auto;
            
            
        }
        a {
            color: var(--PrimaryColor) !important;
            font-weight: 600;
            letter-spacing: 1px;
            margin-right: 10px;
            font-size: 15px;
            margin-top:auto;
            margin-bottom: auto;
            transition: .3s ease all;
            .pull-left
            {
                background: var(--gradientColor);
                color: var(--whiteColor);
                border: 1px solid var(--SecondaryColor);
                padding: 5px 5px;
                border-radius: 30px;
                width: fit-content;
                transition: 1s ease all;
                max-width: 200px;
                img{
                    width: 40px;
                    height:40px;
                    border-radius: 50%;
                    object-position: center;
                    object-fit: cover;
                }
                span {
                    overflow: hidden;
                    max-width: 140px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    transition: 1s ease all;
                }
            } 
            .info-user{
                color: var(--textColor);
                img{
                    width: 60px;
                    height:60px;
                    border-radius: 50%;
                    object-position: center;
                    object-fit: cover;
                }
                p {
                    margin: auto;
                    font-size: 12px;
                    line-height: 20px;
                    small {
                        font-size: 10px;
                    }
                }
            }
            
        }
        .dropdown-toggle::after {
            display: none !important;
        }    
        a:hover, a:focus {
            color: var(--mainColor) !important;
        }
        .nav-info {
            .dropdown-menu {
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                padding: 15px;
                min-width: 400px;
                .row {
                    .col-lg-6, .col-lg-12 {
                        padding: 10px;
                        .dropdown-info {
                            border-radius: 10px;
                            padding: 10px;
                            height: 100%;
                            width: 100%;
                            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                            a {
                                svg {
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
            }
            .dropdown-menu:before {
                position: absolute;
                top: -7px;
                left: 75%;
                display: inline-block;
                border-right: 7px solid transparent;
                border-bottom: 7px solid #ccc;
                border-left: 7px solid transparent;
                border-bottom-color: rgba(0, 0, 0, 0.2);
                content: '';
              }
              
              .dropdown-menu:after {
                position: absolute;
                top: -6px;
                left: 75%;
                display: inline-block;
                border-right: 6px solid transparent;
                border-bottom: 6px solid #ffffff;
                border-left: 6px solid transparent;
                content: '';
              }
        }
       
        

        .nav-link {
            padding-left: .5rem !important;
            padding-right: .5rem !important;
            svg{
                font-size: 10px;
            }
        }

        .active {
            color:var(--mainColor) !important;
        }

        .dropdown-menu {
            position: static;
            background-color: var(--whiteColor);
            border: 1px solid #ccc; 
            a {
                color: #444;
                font-size: 14px;
                line-height: 30px !important;
                position: relative;  
                transition: .3s ease all;
            }
            a:hover{
                color: var(--mainColor) !important;
                background-color: var(--whiteColor);
            } 
              
            li {
                width: 100%;
                position: relative;
                padding: 5px 0px;
                ::before{
                    position: absolute;
                    content: "";
                    display: block;
                    bottom: -5px;
                    left: 0;
                    width: 0px;
                    height: 2px;
                    background-color: var(--mainColor);
                    color: var(--mainColor);
                    transition: .5s ease all;
                }
                a {
                    font-weight: 300;
                    font-size: 15px;
                }
            }
            li:hover {
                ::before{
                    width:100%; 
                } 
            }
        }

        button
        {
            background: var(--gradientColor);
            color: var(--whiteColor);
            border: 1px solid var(--SecondaryColor);
            width: 180px;
            height: 50px    ;
            color: #fff;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            transition: .3s ease all;
            span {
                background-color: #fff;
                color: var(--SecondaryColor);
                margin-left: 25px;
                height: 40px;
                width: 40px;
                text-align: center;
                line-height: 40px;
                border-radius: 4px;
                font-weight: 600;
            }
            
        }
        button:hover {
            background: var(--gradientColorChange);
            // border: 1px solid var(--mainColor);
            span {
                color: var(--mainColor);
            }
        }

    }
    .navbar-brand 
    {
        img {
            width: 100px;
        }
    }
}

// Reponsive
@media only screen and (max-width: 992px) {
    nav {
        .navbar-nav {
            a {
                line-height: 30px;
            }
            .dropdown-menu {
                width: 100% !important;
            }
        }
    } 
}